
/* Application header should be static for the landing page */
.md-header {
    position: initial;
}

/* Remove spacing, as we cannot hide it completely */
.md-main__inner {
    margin: 0;
}

/* Hide main content for now */
.md-content {
    display: none;
}

/* Gradient background + blob */
.tx-container {
    padding-top: 1rem;
    background:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: white' /></svg>") no-repeat bottom,
    linear-gradient(
    to bottom,
    var(--md-primary-fg-color),
    hsla(350, 50%, 50%, 1) 99%,
    white 99%
    );
}

.tx-content {
    margin: 0 .8rem;
}

/* Set inverted text color on hero */
.tx-hero {
    margin: 0 .8rem;
    color: var(--md-primary-bg-color);
}

/* Make main headline thicker */
.tx-hero h1 {
    margin-bottom: 1rem;
    color: currentColor;
    font-weight: 700;
}

/* Ensure that blob doesn't overlap buttons */
.tx-hero__content {
    padding-bottom: 6rem;
}

/* Adjust spacing of buttons and invert them */
.tx-hero .md-button {
    margin-top: .5rem;
    margin-right: .5rem;
    color: var(--md-primary-bg-color);
}

/* Invert primary button */
.tx-hero .md-button--primary {
    background-color: var(--md-primary-bg-color);
    color: hsla(350, 50%, 50%, 1); 
    border-color: var(--md-primary-bg-color);
}

/* Invert hover and focus button states */
.tx-hero .md-button:hover,
.tx-hero .md-button:focus {
    background-color: var(--md-accent-fg-color);
    color: var(--md-default-bg-color);
    border-color: var(--md-accent-fg-color);
    border: 0.1rem solid #fff;

}

/* [mobile portrait -]: Adjust headline */
@media screen and (max-width: 60em) {

    /* Make main headline smaller */
    .tx-hero h1 {
        font-size: 1.4rem;
    }
    .tx-hero__image {
        order: 1;
        width: 0%;
    }
}

/* [tablet landscape +]: Display content and image next to each other */
@media screen and (min-width: 60em) {

    /* Hide table of contents */
    .md-sidebar--secondary {
        display: none;
    }

    /* Use flex layout to align items */
    .tx-hero {
        display: flex;
        align-items: stretch;
    }

    /* Increase bottom spacing and set dimensions */
    .tx-hero__content {
        max-width: 19rem;
        margin-top: 3.5rem;
        padding-bottom: 14vw;
    }

    /* Swap with teaser and set dimensions */
    .tx-hero__image {
        width: 38rem;
        order: 1;
          margin-left:auto;
          margin-right:0;
        transform: translate(8rem, 10%);
    }
}

/* [screen +]: Adjust spacing */
@media screen and (min-width: 76.25em) {

    /* Hide navigation */
    .md-sidebar--primary {
        display: none;
    }

    /* Ensure the image aligns with the repository information */
    .tx-hero__image {
          margin-left:auto;
          margin-right:0;
        transform: translate(12rem, 10%);

    }
    
    .tx-container {
        margin-bottom: -5em;   
    }
}
